@import url("tour_about.css"); /* подключение дополнительно файл со стилями в дополнение к этому файлу */

* {
    margin:0;
}

.center {
    text-align: center;
}

body {
    background: fixed;
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /*background: url("../images/bg.jpg") no-repeat center center/cover;*/ /* Не повторяем картинку, центры по вертикали и горизонтали, cover - растянуть*/
    padding: 0;
    margin: 0;
    font-family: Arial;
}

.container {
    width: 1080px;
    margin: 0 auto; /*внешние поля сверху и снизу 0, а побокам auto. Container стал посредине*/
}

.phone {
    display: flex;
    justify-content: flex-end; /* flexbox передвинули по горизонтали div с номером телефона максимально вправо */
    height: 50px;
    margin: 5px 0; /* внешние отсутпы сверху и снизу 5рх, а по бокам 0рх */
}

.phone span {                       /* обращение к тегу span через класс родительского тега*/
    display: flex;    /*подключение flexbox*/
    align-items: center;  /* поместили по центру по вертикали телефон внутри span*/
    color: #427f9c;
    font-size: 20px;
    font-weight: bold;
    background: rgba(255,255,255,0.9);   /* белый цвет в формате rgbaю где а - это прозрачность, в данном случае 0.9 */
    border-radius: 100px;   /* скругление с обеих сторон. Можно задать в формате x y z d - и задать скругление с разным радиусом */
    padding: 5px 15px; /* 5px - сверху и снизу, 15рх - побокам*/
}

.phone span:before {   /* создали элемент перед span, с иконкой и тенью. также можно создать и after*/
    content: "";
    height: 30px;
    width: 30px;
    border: 1px solid #D7D7D7;
    border-radius: 100%;
    margin: 0 5px 0 0;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);  /* по Х не передвигали, по Y вниз на 1рх, толщина тени 1рх, черного цвета и прозрачность*/
    background: url("../images/icon_phone.png") no-repeat center center #fff;
    background-size: 70% 70%;
}

header nav {
    background: linear-gradient(#4D96BB, #30667F); /*горизонтальный градиент указываем верхний увет, потом нижний*/
}

header nav ul {
    display: flex; /* включили flexbox*/
    justify-content:space-around; /*выравнивание по ширине страницы с одинаковым отступом*/
    padding: 12px 0;
}

header nav ul li {
    list-style-type: none; /* неименованый список, убрали обозначения пунктов списка*/
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6); /* тень текста как и выше для box*/
}

header nav ul li a { /* обращение к конкретным тегам указанием через все предыдущие элементы*/
    color: white;
    text-decoration: none; /* убрать подчеркивание в ссылках*/
}

.banner {
    position: relative; /* позиция относительно body*/
    height: 378px;
    background: url("../images/banner.jpg") no-repeat center center/cover; /* расположить кратинку в DIV поцентру горизонтально и вертикально, растянуть на весь размер div*/
}

.banner .text {
    position: absolute; /* задав эту опцию можно расположить относительно .banner*/
    right: 0; /* позиция относительно краев .banner*/
    bottom: 20px; /* позиция относительно краев .banner*/
    background: rgba(40,109,142,0.9); 
    width: 70%;
    color: #fff;
    line-height: 20px; /* высота строки*/
    font-size: 14px;
    padding: 10px;
}

.search {
    display: flex; /*включили flexbox */
    justify-content: flex-end; /* подвинули все элементы до конца вправо*/
    background: #fff;
    padding: 8px;
}

.search .icons {
    display: flex; /*включили flexbox для блока иконок*/
    margin-right: 5px; /* отступ справа от блока иконок 5рх*/
}

.search .icons a {
    height: 30px;
    width: 30px;
    margin-right: 4px; /* отступ справа между иконками 4рх*/
    background-image: url("../images/search_icons.png"); /* взяли 1 спрайт с иконками для всех ссылок сразу. 1 картинка содержит иконки для 5 кнопок, дальше эту картинку двигаем под кнопку*/
}

.search .icons .icon1 {
    background-position: -2px -2px; /* двигаем -2рх по горизонтали и -2рх по вертикали*/
}

.search .icons .icon2 {
    background-position: -38px -2px; /* сдвиг влево писать -(минус), вверх писать -(минус)*/
}

.search .icons .icon3 {
    background-position: -75px -2px;
}

.search .icons .icon4 {
    background-position: -148px -2px;
}

.search .icons .icon5 {
    background-position: -111px -2px;
}

.search form {
    margin: 0;
    padding: 0;
}

.search form input {
    padding: 6px;
}

.search form button {
    border: none;
    background: #dbc60d;
    padding: 8px;
    cursor: pointer; /* при наведении курсора мыши на кнопку, меняется на указатель*/
}

.content {
    display: flex; /* делаем раздел content элементом flexbox*/
    justify-content: space-between; /* выравниваем элементы с отступом между ними, обы элемента будут "прилипать" к краям элемента content*/
    padding-top: 5px;
}

.content .left {
    flex-basis: 30%;   /* задание ширины в % для элемента flexbox*/
    background: #fff;
}

.block_title {
    padding: 12px 15px;
    color: #fff;
    font-weight: bold;
}

.bg1 {                  /* заготовленые классы со стилями для фона заголовков*/
    background: #59a1b7;
}

.bg2 {
    background: #4a7d9a;
}

.bg3 {
    background: #e6be18;
}

.bg4 {
    background: #7d9519;
}

.left_menu {
    list-style-type: none;
    border: 1px solid #cdcdcd;
    width: 80%;
    padding: 0;
    margin: 15px auto; /* отступ сверху и снизу по 15рх, а по бокам auto поставит по центру*/
}

.left_menu li a {
    display: flex;       /* сделали ссылку flex элементом, чтобы можно было задавать высоту, ширину и двигать содержимое*/
    text-decoration: none;
    color: #2b566e;
    font-size: 14px;
    padding: 8px;
    background: linear-gradient(#fff, #e1e7e9);
    border-bottom: 1px solid #cdcdcd;
    align-items: center;   /* выровнять содержимое flex элмента по центру*/
}

.left_menu li a:hover {          /* псевдо класс, при наведении курсора мыши на объект стилизует его как указано в правиле*/
    background: linear-gradient(#e1e7e9, #fff); /* в даной ситуации: выделяет меню изменением цветов в linear-gradient*/
}

.left_menu li a:before {
    content: "";
    display: inline-block;  /* элемент будет иметь свойста строчного и блочного элементов*/
    width: 22px;
    height: 22px;
    margin-right: 5px;
    background: url("../images/menu_icon.png") no-repeat center center/cover;
}

.resorts {
    display: flex;
    width: 90%;
    padding: 0;
    list-style-type: none;
    margin: 15px auto;
    flex-wrap: wrap;  /* добавляем возможность переноса на новую строку элементов, которые не поместились по ширине */
}                     /* почему так: ширина li = 47%, получаем 47+47=94% - третий не поместится и перенесется на строку ниже, и таким образом сформируются 2 колонки элементов*/ 

.resorts li {
    flex-basis: 47%;    /* ширина объекта li будет 47% от всей ширины объекта .resorts */
    }

.resorts li a {
    color: #3a667e;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 5px;
    display: flex;
    align-items: center;
}

.resorts li a:before {
    content: "";
    display: inline-block;
    width: 27px;
    height: 18px;
    border: 1px solid;
    margin-right: 5px;
    background: url("../images/flags.png") no-repeat;
}

.resorts .item1:before {            /* флаги для меню Курорты*/
    background-position: -1px -1px;
}

.resorts .item2:before {
    background-position: -1px -20px;
}

.resorts .item3:before {
    background-position: -30px -20px;
}

.resorts .item4:before {
    background-position: -1px -39px;
}

.resorts .item5:before {
    background-position: -58px -39px;
}

.resorts .item6:before {
    background-position: -86px -39px;
}

.resorts .item7:before {
    background-position: -58px -58px;
}

.resorts .item8:before {
    background-position: -58px -1px;
}

.resort_img {
    height: 150px;
    background: url("../images/resort.png") no-repeat center center/contain;
    margin-bottom: 15px;
}


.promo {
    padding: 0;
    list-style-type: none;
    width: 80%;
    border: 1px solid #6ea7c6;
    margin: 10px auto;
    border-bottom: none;
}

.promo a {
    color: #3a667e;
    text-decoration: none;
    display: block;
    padding: 10px 5px;
    font-size: 12px;
    border-bottom: 1px solid #6ea7c6;
}

.promo li:nth-child(odd) {  /*nth-child позволяет обратиться к дочерним элементам внутри какого-то элемента, в данном сулчае <ul> с классом promo сjдержит ссылки */
    background: #FFF5F5;    /* (odd) - каждый нечетный элемент, (even) - каждый четный элемент, first-child - первый элемент из списка дочерних, last-child - последний элемент из списка дочерних*/   
}

.content .right {
    flex-basis: 68.5%;
    background: #fff;
}

.tours_block {          /* родительский flex элемент, в котром находятся ссылки с классом tours_block-item_wrap */
    display: flex;
    flex-wrap: wrap;    /* включили разрешение переноса элементов на след.строку, если не помещается. Т.к. 1элемент 32,9%, то 3 * 32,9 = 99%, т.е.в строке будет максимум 2 элемента, остальные перейдут на след строку и т.д */
    padding:  5px;
    justify-content: space-between; /* равномерное растягивание элементов по ширине с одинаковыми отступами между элементами */
}

.tours_block-item_wrap {
    text-decoration: none;
    border: 1px solid #CAC7C7;
    flex-basis: 32.9%;      /* задание ширины дочернего flex элемента относительно родительского элемента flex */
    padding: 5px;
    box-sizing: border-box; /* опция не повлияет на ширину элементов после добавления padding в предыдущем шаге */
    margin-bottom: 4px;
}

.tours_block-item_wrap:hover {
    background: #EEEEEE;
}

.tours_block-item_wrap .item1 {background: url("../images/autobus/chezh.jpg") no-repeat;}
.tours_block-item_wrap .item2 {background: url("../images/autobus/france.jpg") no-repeat;}
.tours_block-item_wrap .item3 {background: url("../images/autobus/grecia.jpg") no-repeat;}
.tours_block-item_wrap .item4 {background: url("../images/autobus/italy.jpg") no-repeat;}
.tours_block-item_wrap .item5 {background: url("../images/autobus/roma.jpg") no-repeat;}
.tours_block-item_wrap .item6 {background: url("../images/autobus/spain.jpg") no-repeat;}

.tours_block-item_wrap .item7 {background: url("../images/avia/bali.jpg") no-repeat;}
.tours_block-item_wrap .item8 {background: url("../images/avia/bulg.jpg") no-repeat;}
.tours_block-item_wrap .item9 {background: url("../images/avia/ingland.jpg") no-repeat;}
.tours_block-item_wrap .item10 {background: url("../images/avia/taiti.jpg") no-repeat;}
.tours_block-item_wrap .item11 {background: url("../images/avia/thai.jpg") no-repeat;}
.tours_block-item_wrap .item12 {background: url("../images/avia/turkey.jpg") no-repeat;}

.tours_block-item_wrap .item13 {background: url("../images/articles/article_1.jpg") no-repeat;}
.tours_block-item_wrap .item14 {background: url("../images/articles/article_2.jpg") no-repeat;}
.tours_block-item_wrap .item15 {background: url("../images/articles/article_3.jpg") no-repeat;}

.tours_block .img {     /* последовательность прописаных правил важна, т.к. если прописать обному элементу несколько правил, то сработает последнее прописанное */
    height: 150px;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.tours_block-item_wrap .img .price {
    width: 60%;
    background: rgba(255,255,255,0.8);
    border-radius: 0 5px 5px 0;      /* закругление углов границ по часовой стрелке: верхний левый -0, верхний правый -5рх, нижний правый -5рх, нижний левый -0рх */
    color: #D71717;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    bottom: 20px;
}

.tours_block-item_wrap p {
    font-size: 14px;
    font-weight: bold;
    color: #3a667e;
    margin: 10px 0;     /* отступы снаружи 10рх сверху/снизу и побокам(слева/справа) 0рх */
}

.tours_block-item_wrap span {
    font-size: 12px;
    color: #000;
}

footer {
    background: #40819d;
    color: #fff;
    padding: 20px;
    font-size: 14px;
}