.tours_about {
    padding: 20px;
}

.tours_about h1 {
    color: #4a7d9a;
    font-size: 25px;
}

.tours_about table {
    margin: 20px 0;     /* отступ от внешних элементов 20рх сверху и снизу, по бокам 0рх*/
    width: 80%;         /* 80% от всей ширины блока right*/
    border: 1px solid #dcdcdc;
    border-collapse: collapse;      /* сомкнет видимые границы таблицы и отдельных ячеек, чтобы не получилось двойных отделений */
}

.tours_about table th, .tours_about table td {      /*через запятую перечислены тэги к которым надо применить правило css */
    border: 1px solid #dcdcdc;
    padding: 10px;
    text-align: center;
}

.tours_about p {
    font-size: 14px;
    margin: 15px 0;
    text-indent: 20px;              /* Абзац, отступ слева в начале текста */
}

.tours_about h2 {
    color: #4a7d9a;
    font-size: 20px;
    margin: 20px 0;
}

.tours_about form {
    display: flex;              /* сделали форму flex элементом*/
    flex-direction: column;     /* направление, в котором элементы будут выстроены. Например: row | row-reverse | column | column-reverse */
    width: 60%;
}

.tours_about form input, .tours_about form textarea {
    padding: 10px;
    border-radius: 5px;         /*скругление границ полей ввода*/
    border: 1px solid #dcdcdc;
    margin: 5px 0;
    outline: none;              /* отмена выделения браузером, при тапе на полях ввода */
}

.tours_about form textarea {
    height: 100px;
    //resize: none;             /* запрет изменения размера поля ввода */
    min-height: 100px;          /* задание минимальных и максимальных размеров поля ввода, при этом размеры в этих пределах можно менять на странице */
    max-height: 200px;
    max-width: 500px;
}

.tours_about form button {
    border: none;
    background: #f8ce25;
    padding: 10px 5px;
    border-radius: 5px;
}